{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ article.name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div>
        <h1>Real Article s title : {{ article.name }}</h1>
        <h2>All tags From this Article</h2>
    </div>
    <ul>
        {% for tag in tags %}
            <li><a href="{{ path('blog_tag',{'name': tag.name}) }}">{{ tag.name }}</a></li>
        {% else %}
            <li>No tags for this article</li>
        {% endfor %}
    </ul>

    <a href="{{ path('blog_index') }}">
        Back to homepage.
    </a>

{% endblock %}