{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div>
        <h1>Real category s title : {{ category.name }}</h1>
        <h2>All articles From this Category</h2>
    </div>

    {% for article in articles %}
        <div>
            <h2>{{ article.id }} / {{ article.name }} - Category : {{ article.category.name }}</h2>
        </div>
    {% endfor %}

    <a href="{{ path('blog_index') }}">
        Back to homepage.
    </a>

{% endblock %}