{# templates/blog/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div>
        <h1>{{ tag.name }}</h1>
        <h2>All Articles From this Tag</h2>
    </div>
    <ul>
        {% for article in articles %}
            <li><a href="{{ path('blog_article', {'name' : article.name}) }}">{{ article.name }}</a></li>
        {% else %}
            <li>No articles for this tag</li>
        {% endfor %}
    </ul>

    <a href="{{ path('blog_index') }}">
        Back to homepage.
    </a>

{% endblock %}