{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.category) }}
    <button type="submit" name="btnSearch">Valider</button>
    {{ form_end(form) }}

    <a href="{{ path('blog_show') }}">
        Back to homepage.
    </a>
{% endblock %}
